@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');


#container {
  min-height: 100vh;
  background-color: rgb(156, 156, 240);
  display: flex;

}

#calculator {
  width: 370px;
  margin: auto;
  background-color: white;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: rgb(70, 69, 69) 5px 5px;
}

#displayfield {
  background-color: black;
  height: 80px;
  padding: 5px 10px 5px 10px;
} 

#runningdisplay {
  color: white;
  font-family: "Orbitron";
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 5px
}

#display {
  color: rgb(233, 133, 39);
  font-family: "Orbitron";
  font-size: 30px;
  text-align: right;
  margin-top: 15px;
  margin-bottom: 0px
}

.buttonsection {
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2px;
  grid-template-areas: 
  "nine eight seven"
  "six five four"
  "three two one"
  "decimal zero plus"
  "minus multiply divide"
  "clear clear equals";
  background-color: rgb(220, 240, 240);
  padding: 5px 8px 8px 5px
}

.buttons {
  box-shadow: 2px 2px;
  background-color: rgb(206, 212, 247); 
  font-size: 17px;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
  border-radius: 2px;
}

#zero, #one, #two, #three, #four, #five, #six, #seven, #eight, #nine {
  background-color: rgb(194, 194, 194);
}

#clear {
  grid-area: clear;
  background-color: rgb(243, 90, 29) 
}

#equals {
  background-color: rgb(63, 90, 243) 
}

h1 {
  font-size: 30px
}